.food_title:first-child {
  font-size:2rem;
  letter-spacing: .06rem;
  margin-top: -9rem;
  margin-left: 15rem;
  margin-bottom: -.2rem;
  padding-right: 0rem;
  flex-wrap: wrap;
  width: fit-content;
  color: rgb(68, 20, 20);

  /* display: inline; */
  /* margin-right: 5rem; */
  /* padding-left: 3rem; */
}





.food_calories {
  margin-left: 15rem;
  /* margin-bottom: 0; */
  font-family: var(--font-text);
  color: rgba(68, 20, 20, 0.721);
  font-size: 1.25rem;
}

.food_box {
  background-color: white;
  display:flex;
  flex-direction: column;
  width: auto;
  flex-wrap: wrap;
  padding: 0rem 2rem 0rem 0;
  border: solid .12rem #d5d5d5;  

}

.food_box_clicked {
  background-color: white;
  display:flex;
  flex-direction: column;
  width: auto;
  margin: auto;
  flex-wrap: wrap;
  padding: 0rem 2rem 0rem 0;
  border: solid .12rem black;  

}

.food_subheading {
  display:flex;
  margin-left: 15rem;
  margin-top: -.2rem;
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: .05em;
  font-family: var(--font-long);
  color: rgba(68, 20, 20, 0.721);

}
.build_order_hr {
  color:  #d5d5d5;
  padding: 0 3rem;
  z-index: 80;
  display: flex;
  /* justify-content: center;
  align-items: center;    */
  width: auto;
  margin: 0 2rem;
  text-align: center;
  }




.checkmark {
  margin-left: -13rem;
  margin-right: 7.5rem;
  margin-bottom: 2rem;
  width:5rem;
  height: 5rem;
  color: black;
  background-color: white;
  border-radius: 50%;
  z-index: 90;   
} 

@media screen and (min-width: 1151px) {

  .food_box:hover {
    column-gap: 1rem;   
    cursor: pointer;
    padding: 0rem 2rem 0rem 0;
    border: solid .12rem black; 
  } 

  .protein_contents{
    width:40%;
    
  }

  .protein_contents div.food_price {
    display:none;
  }

  .food_stuff:last-child {
    justify-content: flex-start;
  }
  .food_stuff{
    align-content: center;
    width: 100vw;

  }

  /* .food_stuff .grid .food_box {
    display: flex;
    justify-content: center;
  } */

  .food_stuff:last-child {
    justify-content: flex-start;}
/* 
.grid:last-child .food_stuff{
  justify-content: flex-start;
} */

} 
.food_stuff{
  justify-content: center;
}
/* .food_stuff{
  justify-content: center;
} */




@media screen and (max-width: 1150px) {
  .food_box {
    border-top: solid 1px #d5d5d5;
    border-left: solid 1px #d5d5d5;
    border-right: solid 1px #d5d5d5;

  }

  .food_box_clicked {
    border-top: solid 1px black;
    border-left: solid 1px black;
    border-right: solid 1px black;

  }
  .food_box:hover {
    cursor: pointer;

  }
  .build_order_hr {
    width: 100vw;
    margin: 0;
 
    background-color:#d5d5d5; ;
  }  


  }

  @media screen and (max-width: 650px) {
  [class*="col-"] {
      width: 100%;
    }

  .grid {
margin: 0 .7rem;  
}

  .food_box{
    display: grid;
    grid-row: 1;
  }

  .food_box_clicked {
    background-color: white;
    display:grid;
    grid-row: 1;

 
  
  }

  .food_title:first-child {
    font-size:1.5rem;
    margin-top: -6rem;
    margin-left: 8rem;
    margin-bottom: -.2rem;
    padding-right: 0rem;
  }

  .food_calories {
    margin-left: 8rem;
    /* margin-bottom: 0; */
    font-family: var(--font-text);
    color: rgba(68, 20, 20, 0.721);
    font-size: 1.1rem;
  }

  .checkmark {
    margin-left: -9rem;
    margin-right: 7.5rem;
    margin-bottom: 1rem;
    width:3rem;
    height: 3rem;
    color: black;
    background-color: white;
    border-radius: 50%;
    z-index: 90;   
  } 

.food_subheading {
  display:flex;
  margin-left: 8rem;
  margin-top: 0rem;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: .05em;
  font-family: var(--font-long);
  color: rgba(68, 20, 20, 0.721);

}
  
}