.food_title:first-child {
  font-size:2rem;
  letter-spacing: .06rem;
  margin-top: -9rem;
  margin-left: 15rem;
  margin-bottom: -.2rem;
  padding-right: 0rem;
  flex-wrap: wrap;
  width: fit-content;
  color: rgb(68, 20, 20);
}




.food_box {
  background-color: white;
  display:flex;
  flex-direction: row;
  width: auto;
  padding: 0rem 2rem 0rem 0;
  border: solid .12rem #d5d5d5;  

}

.build_order_hr {
  background-color:  #d5d5d5;
  color:transparent;
  padding: 0 3rem;
  z-index: 80;
  display: flex;
  width: auto;
  margin: 0 2rem;
  text-align: center;
  }

.checkmark {
  margin:1rem;
  position:absolute;
  width:5rem;
  height: 5rem;
  color: black;
  background-color: white;
  border-radius: 50%;
  z-index: 90; 
 
} 

@media screen and (min-width: 1151px) {

  .food_box:hover {
    
    cursor: pointer;
    padding: 0rem 2rem 0rem 0;
    border: solid .12rem black; 
  } 

  .protein_contents{
    width:40%;
    
  }

  .food_stuff:last-child {
    justify-content: flex-start;
  }
  .food_stuff{
    align-content: center;
    width: 100vw;
  }


  .food_stuff:last-child {
    justify-content: flex-start;
  }

} 
.food_stuff{
  justify-content: center;
}





@media screen and (max-width: 1150px) {
  hr {color:white;}

  .food_contents_hr {
 
      width: auto;
      margin: 0;
      background-color: #d5d5d5; height: 1px; border: 0;
    } 

  
  
  .food_box {
    border-top: solid 1px white;
    border-bottom: solid 1px #d5d5d5;
    border-left: solid 1px #d5d5d5;
    border-right: solid 1px #d5d5d5;

    }

 


  .food_box:hover {
    cursor: pointer;

  }
  
  .build_order_hr {
    width: auto;
    margin: 0;
    background-color: #d5d5d5; height: 1px; border: 0;
  }  



  }

  @media screen and (max-width: 650px) {
  [class*="col-"] {
      width: 100%;
    }

  .grid {
margin: 0 .7rem;  
}


  


  .checkmark {

    width:3rem;
    height: 3rem;

    color: black;
    background-color: white;
    border-radius: 50%;
    z-index: 90;   
  } 

 

  
}