.ourvalues_page {
    /* height: 100vh; */
    width: auto;}
    
.about_contents {
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 2rem;
}
.ourvalues_header {
  
        font-family: var(--font-long);
        margin: 1rem;
        color: rgb(68, 20, 20);
        font-size: 2.7rem;
        letter-spacing: .03em;
        font-weight: 500;
        display: flex;
        justify-content: center;
        text-align: center;
        text-transform: none;
    
    }

    .order_now_button_container{    width: auto;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-content: center;
        align-items: center;
        margin-top: 1vh;

        /* margin-bottom: -10rem; */
        font-family: var(--font-alt);
        color: var(--color-white);
    }

    .about_text {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: 1rem 5rem;
        line-height: 1.8rem;
        letter-spacing: .06em;
        font-size: 1.3rem;
        padding: 0 15%;
        justify-content: center;
    }


    @media screen and (max-width: 1150px) {
        .about_text {
            margin: 1rem 3.5rem;
            font-size: 1.2rem;

            padding: 0 3%;
        
            }}

            .ourvalues_page {
                height: 100%;

            }

        @media screen and (max-width: 650px) {
            .ourvalues_page {
                height: 100%;

            }
    .about_text {
        margin: .5rem auto;
        font-size: 1.0rem;
        line-height: 1.5rem;



padding:5%;
    }}