.checkout_page {
    height: 100%;
    width: auto;}
    

.checkout_header {
    font-family: var(--font-long);
    text-transform: uppercase;
    font-size: 3.5rem;
    padding: .5rem;
    margin: .5rem;
    /* width: fit-content; */
    display: flex;
    justify-content: center;
  
    }
.checkout_contents_container {
    margin: 2rem auto;
    padding: 0 3rem;
    display:flex;
    background-color: whitesmoke;
    flex-direction: column;
    width: 75%;
}

    .checkout_page_section {
        font-size: 2.5rem;
        background-color: whitesmoke;
        display: flex;
        font-weight: 600;     
        font-family: var(--font-long);
        width:auto;
        padding: auto;
        margin: .8rem .8rem 1.5rem .8rem;
        flex-wrap: wrap;

    }


   
    .checkout_page_section_empty {
        font-size: 2.5rem;
        display: flex;
        flex-direction: column;  
        justify-content: center;
        font-weight: 600;     
        font-family: var(--font-long);
        width: auto;
        padding: auto;
        margin: auto;


    }



    .meal_local_storage {font-size: 5rem;}


    .meal_title {
        font-size: 2rem;
        letter-spacing: .1em;
        font-family: var(--font-alt);
    }

    




    .meal_ingredients{
        font-size: 1.5rem;
        padding-left: .5rem;
        display: flex;
        flex-direction: column;


        
    }

    .meal_title, .meal_ingredients{
       
        width: auto;
        /* margin-left: 1rem; */

    }


    .total_header {
        font-family: var(--font-alt);

    }

    .subtotal_header, .tax_header {
        font-family: var(--font-long);
        font-size: 1.3rem;

    }

    .total_header {
        text-transform: uppercase;
        font-size: 2.5rem;

    }
    .subtotal_contents {
        display: flex;
        margin: 1.3rem 3.8rem .5rem 3.8rem;
        flex-direction: row;
        justify-content: space-between;
    }
    .tax_contents {
        display: flex;
        margin: .5rem 3.8rem 3rem 3.8rem;
        flex-direction: row;
        justify-content: space-between;
    }

    .total_contents {
        display: flex;
        margin: 1.3rem 3.8rem 2rem 3.8rem;
        flex-direction: row;
        justify-content: space-between;
    }
  
  
    .meal_from_user_contents_empty {
        display: flex;
        height: 100vh;
        justify-content: center;
        width: auto;
        margin: auto;
    }

    .meal_from_user_contents {

        width: 100%;
        padding: auto;
        margin: 0.5rem 3rem;

    }




    .meal_ingredients {
        display: flex;
        justify-content: flex-start;
        width: auto;
    }

    

    
    

  

    .start_my_order_button {
        cursor: pointer;
        display: block;
  
        justify-content: center;
        z-index:2;
        text-transform: uppercase;
        width: auto;
        background-color: rgb(68, 20, 20);     
        font-size: 1.5rem;
        color: white;
        border-style: none;
        padding: 1.5rem 6rem;
        margin: 3rem auto auto auto;
        font-family: var(--font-alt);
        letter-spacing: .12em;
        text-align: center;
    
      
  
    }





    .start_my_order_button:hover {
    
      background-color: rgba(68, 20, 20, 0.796);
  
      color: white;
    
  
  }

  .bag_is_empty_container {
    margin: 4rem auto auto auto;
    display: flex;
    justify-content: center;
    flex-direction: column;    
  }


  .bag_is_empty_description {
    font-size: 1.3rem;
    padding: .5rem 4rem;
  }

  .bag_is_empty_header {
    text-align: center;
    font-size: 2.0rem;

    
}

.item_name {
    padding-right: 8rem;
}

.item_price {
    padding-left: 4rem;
}

.subtotal_amount, .tax_amount{
    font-family: var(--font-long);
    font-size: 1.3rem;
}

.total_amount {
    font-family: var(--font-long);
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    margin:0;
    font-weight: 600;
    border: 6px  rgb(68, 20, 20);
    padding: .5rem 0rem .5rem .5rem;
}

.name_and_price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.add_another_item_button {
    cursor: pointer;
    display: block;

    justify-content: center;
    z-index:2;
    text-transform: uppercase;
    width: auto;
    background-color: white;     
    font-size: 1.5rem;
    color: rgb(68, 20, 20);
    border-style: none;
    border: 2px solid rgb(68, 20, 20);

    padding: 1.5rem 6rem;
    margin: 3rem auto 3rem auto;
    font-family: var(--font-alt);
    letter-spacing: .12em;
    text-align: center;
    
}

/* .remove_checkout_button, .edit_checkout_button, .duplicate_checkout_button {
    color: rgb(68, 20, 20);
    background-color: whitesmoke;
    cursor: pointer;
    display: block;

    justify-content: center;
    z-index:2;
    text-transform: uppercase;
    width: auto;
    font-size: 1.5rem;
    color: rgb(68, 20, 20);
    border-style: none;
    border-bottom: 2px solid rgb(68, 20, 20);

    padding: 0;
    margin: .5rem;
    font-family: var(--font-alt);
    letter-spacing: .12em;
    text-align: center;
    

} */
.remove_edit_duplicate_buttons {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: 1rem 0 0 0;
    padding: 0;

}


/* 
.checkout_header_and_button {
    display: flex;
    width: 100%;
} */

.checkout_button {
        cursor:pointer;
        justify-content: center;
        display: flex;
        text-transform: uppercase;
        width: fit-content;
        background-color: #bf0008;
        font-size: 1.5rem;
        color: white;
        border-style: none;
        padding: .5rem 1.5rem;
        font-family: var(--font-alt);
        letter-spacing: .07em;
        flex:1;
        margin: auto auto 90% auto;
    
    

}
@media screen and (max-width: 1150px) { 
    .checkout_contents_container {
        padding: 0;
        width: 90%;
        }}
        .checkout_header{
            font-size: 3rem;
            margin:auto;
        }

@media screen and (max-width: 650px) { 
     .tax_contents {
        margin: 0rem 3rem 1.5rem 3rem;
    }
    .subtotal_contents {
        margin: 1.5rem 3rem 0rem 3rem;
    }


    .total_contents {
        margin: 0.9rem 3rem ;

    }
    .item_name {
        padding-right: 3rem;
    }
    .checkout_header{
        font-size: 2.5rem;
        margin:auto;
    }

    .meal_title {
        font-size:1.5rem;

    }

    
    .item_price {
        padding-left: .5rem;
    }

.start_my_order_button {

    padding: 1.5rem 3rem;

}

.add_another_item_button {
    padding: 1.5rem 3rem;


}


.checkout_page_section {
    padding: 0;
    font-size: 2rem;
    background-color: whitesmoke;
    display: flex;
    justify-content: flex-start;
    font-weight: 300;     
    font-family: var(--font-long);
    width:auto;
    margin: 0;
    flex-wrap: wrap;
}




.checkout_contents_container {
    padding: 0;
    width: auto;

}



}

@media screen and (max-width: 300px) { 
    
    .item_name {
        padding-right: .5rem;
        font-size: 1rem;
    }
    .item_price, .subtotal_amount, .tax_amount {
        font-size: 1rem;
        padding: 0;
    }
   
    

    .add_another_item_button {
        font-size: 1.2rem;
        padding: 1.5rem 1rem;
    }

    .checkout_button {
        font-size: 1.2rem;
        padding: 1.5rem 2rem;
    }

}