
  
.home_header {
    font-family: var(--font-base);
    display: flex;
    background-color:var(--color-black);
    color: white;
    justify-content: center;
    margin:0 0 -1rem 0;
    padding:.5rem 1rem .5rem 1rem;
    font-size: 4rem;
    letter-spacing: 0.04em;
}

 
.homepage {
  height: 100vh;
  width:100%;
  background-color: var(--color-black) ;



} 

/* 

    background-color: white;
    width: auto;
    height: 100%;
    /* margin: 0;
    padding: 0;
    height: 100vh;
    width: auto;  */

.app__video {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-blend-mode:darken;
    /* position: relative; */
}

.order_now_button {
    cursor:pointer;
    justify-content: center;
    display: block;
    text-transform: uppercase;
    width: auto;
    background-color: #bf0008;
    font-size: 1.5rem;
    color: white;
    border-style: none;
    padding: .9rem 5rem;
    font-family: var(--font-alt);
    letter-spacing: .07em;
    flex:1;
    margin-top: 6vh;

}



video, .app__video-overlay  {
    height: 90%;
    margin-top: 0;
    padding-top: 0;
    width: 100%;
    object-fit: cover;
    position: absolute;
    
    /* background-blend-mode: screen;
    
    background-color: rgba(0,0,0,0.65); */

  
}

.new_section_and_order_button {
    width: auto;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-content: center;
    align-items: center;
    margin-top: 10vh;
    /* margin-bottom: -10rem; */
    font-family: var(--font-alt);
    color: var(--color-white);
    
}

.new_stamp {
    font-size: 2.5rem;
    font-weight: 100;
    width: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #f09b50;
    border-radius:10%;
    padding: .2rem;
    margin: auto;

}

.new_steak {
    font-size: 4rem;
    display: flex;
    flex:1;
    justify-content: center;
}

.new_steak_description {
    font-size: 1.5rem;
    display: flex;
    width: auto;
    min-width: 60%;
    text-align: center;
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 1rem;
    margin: 0 2rem;
    line-height: 2rem;


}

.home_hr {
    color: transparent;
    background-color: black;;
    padding: 0 3rem;
    z-index: 80;
    display: flex;
    justify-content: center;
    align-items: center;   
    width: 60vw;


} 

.app__video-overlay {
    /* position: absolute;
    height: 70%;
    display: flex;
    align-items: center; */
    background: rgba(28, 27, 27, 0.5);
    /* flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 ;
    padding: 4vh 0 0 0 ; */
}


/* 


.app__video-overlay_circle {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1.5rem;
    border: 2px solid var(--color-golden);
    cursor: pointer;
}
 */


@media screen and (max-width: 1150px) {
        .order_now_button {
        margin-top: 2vh;
    
    }

    

 }


   

@media screen and (max-width: 650px) {

.new_section_and_order_button {    margin-top: 3vh;}
   
    .new_steak_description {
        font-size: 1.2rem;
    }
    .new_stamp {
        font-size: 1.5rem;
    }
    .new_steak {
        text-align: center;
       font-size: 2em;
       padding: 1rem;
        
    }
    .home_hr {
        width: auto;
        background-color: black;

    } 

    
    .home_header {

            font-size: 2.2rem;
    padding: .5rem;
        text-align: center;
        line-height: auto;
    }

    .order_now_button {
        margin-top: 0rem;
        padding: 1rem;
        width: fit-content;
    }

}
