.home_header {
    font-family: var(--font-base);
    display: flex;
    background-color: white;
    color: black;
    justify-content: center;
    margin: .5rem 0 -1rem 0;
    padding:.5rem 1rem 0rem 1rem;
    font-size: 4rem;
    letter-spacing: 0.04em;
}

 
.homepage {
  height: 100vh;
  width:100%;

} 
/* 

    background-color: white;
    width: auto;
    height: 100%;
    /* margin: 0;
    padding: 0;
    height: 100vh;
    width: auto;  */

.app__video {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-blend-mode:darken;
    /* position: relative; */
}

.order_button {
    display: flex;
    margin-bottom: 0;
    z-index:2;
    text-transform: uppercase;
    width: auto;
    background-color: #bf0008;
    font-size: 1.5rem;
    color: white;
    border-style: none;
    padding: .9rem 5rem;
    font-family: var(--font-alt);
    letter-spacing: .07em;
    margin-top: 5rem;
    flex-wrap: nowrap;
}



video {
    height: 90%;
    margin-top: 0;
    padding-top: 0;
    width: 100%;
    object-fit: cover;
    position: absolute;
    
    /* background-blend-mode: screen;
    
    background-color: rgba(0,0,0,0.65); */

  
}

/* 

.app__video-overlay {
    position: absolute;
    height: 70%;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 ;
    padding: 4vh 0 0 0 ;
}



.app__video-overlay_circle {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1.5rem;
    border: 2px solid var(--color-golden);
    cursor: pointer;
}
 */

