.order_page {
  width:auto;
}

body {
    font-family: 'Helvetica';
  }
  h1,
  h2,
  h3 {
    margin: 0.5rem 0;
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1rem;
  }
  a {
    text-decoration: none;
  }

  .grid {
    min-width: 46vw;
    font-family: var(--font-alt);

  }

  .build_your_text_contents {
    display: flex;
    align-items: flex-start;
    justify-content:center;
    flex-direction: column;
    margin: 5rem 0rem 2rem 0rem;
    flex-wrap: wrap;

  }


  .build_order_meal_title {
    font-size: 4rem;
    width: fit-content;
    text-transform: uppercase;
    margin-bottom: 0rem;
    padding-bottom: 0rem;
    height: auto;
    color: rgb(68, 20, 20);
    font-family: var(--font-alt);
    text-align: left;

  }


  .build_your {
    text-align: left;
    text-transform: uppercase;
    font-size: 2rem;
    color: rgba(68, 20, 20, 0.721);
    font-family: var(--font-long);
    font-weight: 600;
  }

  .build_order_meal_description {
    font-family: var(--font-long);
    font-size: 1.5rem;
    margin-top: 1rem ;
    margin-bottom:auto;
    margin-right:0rem;
    max-width: 40rem;
    min-width: 25rem;
    display: flex;
    flex-wrap: wrap;
  }


  .text-right {
    text-align: right;
  }
  img.small {
    max-height: 10rem;
    width: 15rem;
    height: 10rem;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 2rem;
    padding-left: 0;
   
  }

  img.large {
    max-height: 30rem;
    height: 25rem;
    width: 40rem;
    /* cursor: pointer; */
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 2rem;
    padding-left: 0;
  }

  
  .order_header {
    font-family: var(--font-base);
    font-size: 2.5rem;
    color: black;
    padding: .5rem;
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-bottom: 2rem;
  }

 




  .order_button:hover {
    background-color: rgb(48, 48, 48);

  }


  .col-1 {
    flex: 1;
  }
 



  .order_button {
    cursor: pointer;
    display:flex;
    margin-bottom: 0;
    z-index:2;
    text-transform: uppercase;
    width: auto;
    background-color: black;
    font-size: 1.5rem;
    color: white;
    border-style: none;
    padding: .9rem 6rem;
    font-family: var(--font-alt);
    letter-spacing: .12em;
    margin-top: 0rem;
    flex-wrap: nowrap;
    margin-left: .7rem;
    margin-right: 6rem;
    text-align: center;
  }
  
  .your_meal_text {
    display: none; 
  }

  .protein_contents div.food_price {
    display: flex;
    margin-left: 4.5rem;
    font-family: var(--font-text);
    color: rgba(68, 20, 20, 0.721);
    font-size: 1.25rem;
  }
 


  .protein_contents div.food_new {
    font-size: 1.35rem;
    color: white;
    background-color: #bf0008; 
    border-radius: 10%; 
    display: flex;
    /* float: inline-start; */
    width: 50px;
    justify-content: center;    
    letter-spacing: .065em;
    margin-left: 15.1rem;
    margin-top: -3.47rem;
    padding: 0;
    /* 
    margin-bottom: -4rem;*/
    /* padding:.3rem; */
  
  }




    

   .grid:last-child .food_price{
      display: flex;
      margin-left: 4.5rem;
      /* margin-top:-1.76rem; */
      font-family: var(--font-text);
      color: rgba(68, 20, 20, 0.721);
      font-size: 1.25rem;  }

  .rice_contents div.food_price:last-child {
    display: none;
    margin-left: 4.5rem;

  }
  .quantity_contents div.food_price:last-child {
    display: none;
    margin-left: 4.5rem;

  }

  .quantity_contents div.food_name:first-child{
    display: none;
  }


  .bean_contents div.food_price:last-child {
    display: none;
 }

 .tortilla_contents div.food_price:last-child {
  display: none;
}





  .cart_stuff {
    z-index: 94;
    color: black;
    font-family: var(--font-text);
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: .05em;
    font-size: 1.5rem;

  }


  .add_to_cart_footer {
    position: sticky;
    z-index: 93;
    bottom:0;
    width: 100%;
    height: auto;
    font-family: var(--font-long);
    text-transform: uppercase;
    color: white;
    font-size: 1.1rem;
    font-weight: 100;
    letter-spacing: .05em;
    margin-top: 0;
    background: rgb(249, 249, 249);
    padding: 1rem 2rem 1rem 2rem;
    /* display: flex; */
    justify-content: space-between;
    border-top: solid .12rem #d5d5d5;  
}

.order_button {
  margin-right: 0;
}

.back_to_menu_button_container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}









@media screen and (min-width: 1151px) {

  .grid {
    /* justify-content: space-between; */
    width:40%;
    flex-direction: row;
    display: inline;
    margin: 1rem;
    padding: auto;
    /* align-content: center; */
  }
  .grid:last-child {
    justify-content: space-between;
    width:40%;
    flex-direction: row;
    display: inline;
    margin: 1rem;
    padding: auto;
    align-content: left;
  }
  


}




@media screen and (max-width:1150px) {


  .protein_contents div.food_new {
    margin-top: -3.4rem;
    margin-left: 8rem;

  }
  
  .checkmark {

    width:3rem;
    height: 3rem;
    color: black;
    background-color: white;
    border-radius: 50%;
    z-index: 90;   
  } 

  .food_title:first-child {
    font-size:1.5rem;
    margin-top: -6rem;
    margin-left: 8rem;
    margin-bottom: -.2rem;
    padding-right: 0rem;
  }


  img.small {
    max-height: 8rem;
    width: 8rem;
    height: 7rem;
    /* cursor: pointer; */
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 2rem;
    padding-left: 0;
  }
  .build_order_meal_description {
    font-family: var(--font-long);
    font-size: 1.5rem;
    margin-top: 1rem ;
    margin-bottom:auto;
    margin-right:0rem;
    max-width: fit-content;
    min-width: 25rem;
    display: flex;
    flex-wrap: wrap;
  }
  

  .order_page{
    width:auto;
  }


 .build_your_text_contents {
  margin: 2rem 1rem 2rem 1rem;
}

.food_description {display: none;}



  .order_header {
    font-family: var(--font-base);
    font-size: 2.5rem;
    color: black;
    padding: 0rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: .5rem;
  }
  
  img.large {
   margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    max-height: 15rem;
    width: 19rem;
    height: 12rem;
   
  }
  .topitoff_contents div.food_price {
    display: none;  }

 
  .back_to_menu_arrow:hover {

    color: #ab010a;
  }
  .add_to_cart_footer{
    padding: 0;
    min-width: none;

  }
  .order_button  {

    display: flex;
    justify-content: center;
    width: 100%;
    background-color: black;
    margin: 0rem;
    
    padding: 1.2rem;

  }


  .order_button:hover {
    background-color: rgba(0, 0, 0, 0.788);

  }

  .grid{
    margin: 0rem 0rem ;

  }
  .grid:first-child{
    margin-top:  1rem ;

  }
}
.topitoff_contents {
  display: none;
  }

@media screen and (max-width: 650px) { 
  .build_order_meal_description {

    max-width: fit-content;
    min-width: auto; }


    .topitoff_contents div.food_price {
      display: none;  }

    img.small {
      max-height: 8rem;
      width: 7rem;
      height: 6rem;
      /* cursor: pointer; */
      margin-left: 0;
      margin-bottom: 0;
      margin-right: 2rem;
      padding-left: 0;

}

.build_your {
  text-align: left;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: var(--font-alt);
  letter-spacing: .06em;
}




.topitoff_contents div.food_price:last-child {
display: none;
}




}


